* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #3B4CCA;
    color: aliceblue;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    text-align: center;
}
nav, .pokemon-list{
    width: 100%;
}

.nav--img{
    display: flex;
    max-width: 50%;
}
form button{
    margin: 0 10px;
}
#navBarSupportedContent{
    display: flex;
    justify-content: flex-end;
}
#navContainer{
    display: flex;
    justify-content: center;
}
.list-group{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.list-group-item{
    background-color: transparent;
    border: 0;
}
.button-pokemon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    text-transform: capitalize;
    font-weight: 700;
    color: #CC0000;
    background: linear-gradient(90deg, #FFDE00, #bca304);
    border: 3px solid #FF0000;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.button-pokemon:hover{
    background: linear-gradient(180deg, #bca304, #FFDE00);
    color: #FF0000;
    border: 3px solid#CC0000;
}

.img-button{
    max-width: 5rem;
}
.img-card{
    width: 200px;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
}
.modal-content{
    background-color:#3B4CCA;
    border: 5px solid #CC0000;
}
.modal-header{
    background-color: #293590;
}
.modal-header h1{
    text-transform: capitalize;
}
.modal-body > *{
    margin: 15px 0;
}
.modal-body{
    padding: 0;
}
.modal__pokemon--title{
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
    padding: 5px 0;
    background-color: #293590;
    font-size: 20px;
    color: #ffbb00;
}

