* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}
button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to bottom, #4caf50, #45a049);
    color: #fff;
    border: 2px solid #4caf50;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(to top, #4caf50, #45a049);
    opacity: 0.9;
}

/* #modalContainer{
    display: none
} */

#modalContainer{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
}

.modal{
    display: inline-block;
    background-color: #fff;
    width: 100%;
    text-align: left;
    padding: 15px;
}

.modal-close{
    float: right;
    border: 0;
    background: none;
    color: #908d8d;
    text-decoration: underline;
}